.Card {

    padding-top: 03%;
    text-align: center;
    text-anchor: 50px;
    padding-left: 03%;
    padding-right: 03%;
    position: relative;

    
}

.Imagen {


padding-block-start: 0%;
padding-left: 0%;



opacity: 0.6;
/*filter: alpha(opacity=50);*/



}

.search-btn{

    background-color: purple;
    position: absolute;
    padding-top: 10%;
    
}



.titulo h1{
    
    padding-block-end: 0%;
    color: #086124;
    font-size: 50px;
    text-shadow: 1px 1px blue;
    position: absolute;
    top: 18%;
    left: 04%;



 
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

    

.ant-card{

    font-size: 15px;
    padding-block-start: 02%;
}

.ant-card-head-title{
    font-size: 18px;

}



.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled){
    border-color: #8F748D;
}


.ant-input-affix-wrapper .ant-input:not(:last-child) {
    padding-right: 24px;
    margin: 0;
   
}

.global-search-wrapper{

    position: absolute;
    top: 68%;
    left: 80%;
}